.mob-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: fixed;
    right: 0;

    &-btn {
        background: none;
        outline: none;
        border: none;
        width: 100%;
        min-width: 125px;
        height: 50px;
        font-size: 2rem;
        color: white;
    }

    &-links {
        background-color: $primary-color;
        list-style: none;
        display: none;
    }

    &-link {
        padding: 0.6rem 1.2rem;
        text-align: center;
    }

    &-link a {
        text-decoration: none;
        color: white;
    }
}

.hero {
    background-image: url("../images/hero-img.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}