@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$primary-color : black;
$secondary-color: green;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: $primary-color;
    color: white;
}



.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}